@font-face {
    font-family: helveticaregular;
    src: url('webfontkit-20220822-161912/helvetica-bold-webfont.woff2') format('woff2'),
         url('webfontkit-20220822-161912/helvetica-bold-webfont.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: alright_sansblack;
    src: url('webfontkit-20220822-155327/alrightsansblack-webfont.woff2') format('woff2'),
         url('webfontkit-20220822-155327/alrightsansblack-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: alright_sansitalic;
    src: url('webfontkit-20220822-155327/alrightsansitalic-webfont.woff2') format('woff2'),
         url('webfontkit-20220822-155327/alrightsansitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: helveticabold_oblique;
    src: url('webfontkit-20220822-161912/helvetica-boldoblique-webfont.woff2') format('woff2'),
         url('webfontkit-20220822-161912/helvetica-boldoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --ff-primary: helveticaregular;
    --ff-secondary: alright_sansitalic;
    --ff-support: alright_sansblack;
}

/******************Tabs*******************/
.calculator.active{
    display: block;
}
.calculator{
    display: none;
}
.info.active{
    display: block;
    float: right;
}
.info{/*changes here*/
    display: none;
}
/*****************Fonts*********************/
div.title{
    font-size: 26px
}
div.title, h1, h2{
    font-family: var(--ff-primary);

}
div.banner{
    font-size: 31px;
    font-family: var(--ff-primary);
}
div{
    font-family: var(--ff-secondary);
}

button{
    font-family: var(--ff-support);
}

input{
    font-family: var(--ff-primary);
}
/**************Layout******************/
body{
    margin: 0px;
    padding:0px;
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
    overflow-x: hidden; /*Use resposive layout to add hor scroll when neccessary*/
}
.banner{
    position: relative;
    left: 2in;
    margin: 0px;
    padding: 15px;
    max-width: 25vw;
}
.banner-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    max-width: 100vw;
    margin: 0px;
    padding:0px;
    height: 80px;
    background-color: orange;/*repl with gradient */ 
}
.calculator{
    position: relative;
    left: 2in;
    border: 5px solid black;
    width: 5in;
    float: left;
    padding-right: 20px;
}

.output-container{
    position: relative;
    left: 10px;
    margin-top:15px;
}
.output{
    font-size: 35px;;
    margin-top: 12px;
    text-align: center;
    font-weight: bold;
    color: rgba(226, 23, 23, 0.789);
}
.info{ /*changes here*/
    position: relative;
    right:150px;
    margin: 25px 0px 0px 0px;
    padding-left:10px;
    border: 5px solid black;
    
}
h2{
    margin:0px;
    font-size: 26px;
}
.area{
    float:left;
    padding: 0px;
}
p{
    font-family: var(--ff-secondary);
}

/**********************/
div.title-container{
    position: relative;
    left: 2in;
    display: grid;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 10px;
    grid-template-columns: 5vw 5vw 7vw 7vw;
    margin: 25px 0px 0px 0px;
    border:5px solid black;
    max-width: 5in;
}

.title{
    grid-column: 1 / 5;
    margin: 0px;
}
.caption{
    grid-column: 1 / 5;
    margin:5px;
}
/*****************************/
div.info-titles{
    display: grid;
    padding-left: 10px;
    grid-template-columns: 5vw 5vw 7vw 7vw;
    grid-gap: 7px;
    margin: 0px;
}
.item{
    grid-column: 1 / 3;
    padding: 1.5px;
    margin: 5px 5px 5px 0px;
    justify-content: center;
}
.grade-title{
    grid-column: 3 / 4;
    padding: 1.5px;
    margin: 5px 5px 5px 0px;
    justify-content: center;
}
.weight-title{
    grid-column: 4 / -1;
    padding: 1.5px;
    margin: 5px 5px 5px 0px;
}
/****************************************/
section.nav-btns{
    position: relative;
    left: 2in;
    display: grid;
    padding: 10px;
    grid-template-columns: 5vw 5vw 7vw 7vw;
    grid-row: 10vh 10vh;
    grid-gap: 7px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom-style: none;
    border-bottom-width: 5px;
    border-bottom-color: black;
    max-width: 5in;
}

.calculator-tab-btn{
    border: 3px solid black;
    padding: 3px;
    margin: 5px 5px 5px 0px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    align-self: left;

    box-shadow: 4px 3px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
    cursor:pointer;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.calculator-tab-btn:hover{
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
}
.calculator-tab-btn:active{
    position:relative;
	top:1px;
}


.info-tab-btn{
    border: 3px solid black;
    padding: 1.5px;
    margin: 5px 5px 5px 0px;
    grid-row: 1 / 3;
    min-width: 75px;

    box-shadow: 4px 3px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
    cursor:pointer;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.info-tab-btn:hover{
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
}
.info-tab-btn:active{
    position:relative;
	top:1px;
}
/************************************/
div.inputs{
    display: grid;
    padding: 10px;
    grid-template-columns: 5vw 5vw 7vw 7vw;
    grid-gap: 7px;
}

.name{
    grid-column: 1 / 3;
    max-width: 140px;
    min-width: 80px;
    margin-right: 5px;
}
.grade{
    grid-column: 3 / 4;
    max-width: 100px;
    min-width: 40px;
}
.weight{
    grid-column: 4 / -1;
    max-width: 100px;
    min-width: 40px;
}
/*********************************/

div.calculate-btns{
    display: grid;
    padding: 10px;
    grid-template-columns: 5vw 5vw 7vw 7vw;
    grid-template-rows: 4vh 2vh 4vh;
    row-gap: 0px;
    column-gap: 7px;
}

.add-row-btn{
    grid-column: 1 / 5;

    box-shadow: 4px 3px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
    cursor:pointer;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.add-row-btn:hover{
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
}
.add-row-btn:active{
    position:relative;
	top:1px;
}


.calculate-btn{
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    box-shadow: 4px 3px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
    cursor:pointer;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.calculate-btn:hover{
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
}
.calculate-btn:active{
    position:relative;
	top:1px;
}
.reset-btn{
    grid-column: 3 / 5;
    grid-row: 3 / 4;

    box-shadow: 4px 3px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
    cursor:pointer;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.reset-btn:hover{
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
}
.reset-btn:active{
    position:relative;
	top:1px;
}
/***************Responsive Browser*******************/
@media (max-width:920px){
    section.nav-btns{
        display: flex;
        flex-direction: row;
        position: relative;
        left:0px;
        min-width: 94.8vw;
    }
    .calculator-tab-btn, .info-tab-btn{
        flex-wrap: wrap;
    }

    div.info-titles{
        display: flex;
        flex-direction: row;
    }
    .item, .grade-title, .weight-title{
        flex-wrap: wrap;
        margin: 8px 8px 8px 2px;
    }
    
    div.inputs{
        display: flex;
        flex-direction: row;
    }
    
    .name, .grade, .weight{
        flex-wrap: wrap;
    }

    section.area{
        float:left;
        margin: 0px;
        padding:0px;
    }
    div.title-container{
        position: relative;
        left:0px;
        margin: 0px;
        min-width: 94.8vw;
        border-top: none;
    }

    section.calculator{
        position: relative;
        left:0px;
        min-width: 94.8vw;
    }

    div.calculate-btns{
        display: flex;
        flex-direction: column;
    }
    button.add-row-btn{
        flex-wrap: wrap;
    }
    button.calculate-btn{
        flex-wrap: wrap;
    }
    button.reset-btn{
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .banner{
        left: 0px;
        padding: 14px;
    }
    div.title{
        min-width: 100vw;
    }
    p.caption{
        min-width: 100vw;
    }

    section.info.active{
        position: relative;
        left: 0.5vw;
        float: none;
        clear:left;
    }

}